<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="../styles/style.css">

</head>
<body>
    <div class='header'>
        <nav>
            <a href='#'><img src="https://cdn.icon-icons.com/icons2/412/PNG/128/Magnifier_41051.png" class="lupa"/></a>
            <ul class='nav_links'>
                <li><a href='#'>Categoría<img src="https://media.discordapp.net/attachments/705876284315533327/793148611310387261/unknown.png" class="triangulo"/></a></li>
                <li><a href='#'>Dearrolladora<img src="https://media.discordapp.net/attachments/705876284315533327/793148611310387261/unknown.png" class="triangulo"/></a></li>
                <li><a href='#'>Cracker<img src="https://media.discordapp.net/attachments/705876284315533327/793148611310387261/unknown.png" class="triangulo"/></a></li>
                </ul>
                <a href='#'><img class="logo" src='https://cdn.discordapp.com/attachments/720651142136070154/792947068909256724/Sin_titulo-1.png'/></a>
                <ul>
                <li><a href='#'>Lanzamiento<img src="https://media.discordapp.net/attachments/705876284315533327/793148611310387261/unknown.png" class="triangulo"/></a></li>
                <li><a href='#'>About Us</a></li>
                <li><a href='#'>Help<img src="https://media.discordapp.net/attachments/705876284315533327/793152241606721546/unknown.png" class="help"/></a></li>
            </ul>
            <ul>
            <li><a href='#'><img src="https://cdn.discordapp.com/attachments/705876284315533327/793155157629337610/unknown.png" class="iniciar_sesion"/></a></li>
            </ul>
        </nav>
     </div>
      <article>
          <div class="contenedor1">
            <h1 class="titulo">Más votados</h1>
              <div class="card1">
                  <div class="card1_portada">
                        <img src="https://as.com/meristation/imagenes/2018/06/19/noticia/1529439720_968030_1531508798_sumario_normal.jpg" class="portada"/>
                  </div>
                  <div class="contenedor_informacion">
                   <h1 class="nombre_juego">Nombre del juego</h1>
                     <div class="card1_informacion">
                        <div class="card1_informacion1" >
                            <p>Categoría 1</p>
                            <p>Categoría 2</p>
                            <p>Categoría 3</p>
                        </div>
                        <div class="card1_informacion2">
                            <img class="plataforma" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                            <img class="plataforma" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                            <img class="plataforma" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                        </div>
                        <div class="card1_informacion3">
                            <div class="card1_informacion3_datos1" >
                                <h1>4.5<img src="https://www.flaticon.es/svg/static/icons/svg/3237/3237420.svg" class="estrella"/> </h1>
                            </div>
                            <div class="card1_informacion3_datos2" >
                                <img class="plataforma2" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                            </div>
                        </div>
                     </div>
                   </div>
              </div>

          </div>
          <div class="contenedor2">
              <div class="contenedor3">
                    <div class="card2">
                        <div class="card2_portada">
                        <img src="https://i.blogs.es/6a071d/gtav/1366_2000.jpg" class="portada"/>
                    </div>
                      <div class="contenedor_informacion">
                         <h1 class="card2_nombre_juego">Nombre del juego</h1>
                        <div class="card2_informacion">
                            <div class="card2_informacion1" >
                                <p>Categoría 1</p>
                                <p>Categoría 2</p>
                                <p>Categoría 3</p>
                            </div>
                            <div class="card1_informacion2">
                                <img class="plataforma" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                                <img class="plataforma" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                                <img class="plataforma" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                            </div>
                            <div class="card1_informacion3">
                                <div class="card1_informacion3_datos1" >
                                    <h3>4.5<img src="https://www.flaticon.es/svg/static/icons/svg/3237/3237420.svg" class="estrella2"/> </h3>
                                </div>
                                <div class="card1_informacion3_datos2" >
                                    <img class="plataforma2" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                                </div>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="card2">
                    <div class="card2_portada">
                    <img src="https://i.blogs.es/6a071d/gtav/1366_2000.jpg" class="portada"/>
                </div>
                  <div class="contenedor_informacion">
                     <h1 class="card2_nombre_juego">Nombre del juego</h1>
                    <div class="card2_informacion">
                        <div class="card2_informacion1" >
                            <p>Categoría 1</p>
                            <p>Categoría 2</p>
                            <p>Categoría 3</p>
                        </div>
                        <div class="card1_informacion2">
                            <img class="plataforma" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                            <img class="plataforma" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                            <img class="plataforma" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                        </div>
                        <div class="card1_informacion3">
                            <div class="card1_informacion3_datos1" >
                                <h3>4.5<img src="https://www.flaticon.es/svg/static/icons/svg/3237/3237420.svg" class="estrella2"/> </h3>
                            </div>
                            <div class="card1_informacion3_datos2" >
                                <img class="plataforma2" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
              </div>
              <div class="contenedor3">
                <div class="card2">
                    <div class="card2_portada">
                    <img src="https://i.blogs.es/6a071d/gtav/1366_2000.jpg" class="portada"/>
                </div>
                  <div class="contenedor_informacion">
                     <h1 class="card2_nombre_juego">Nombre del juego</h1>
                    <div class="card2_informacion">
                        <div class="card2_informacion1" >
                            <p>Categoría 1</p>
                            <p>Categoría 2</p>
                            <p>Categoría 3</p>
                        </div>
                        <div class="card1_informacion2">
                            <img class="plataforma" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                            <img class="plataforma" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                            <img class="plataforma" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                        </div>
                        <div class="card1_informacion3">
                            <div class="card1_informacion3_datos1" >
                                <h3>4.5<img src="https://www.flaticon.es/svg/static/icons/svg/3237/3237420.svg" class="estrella2"/> </h3>
                            </div>
                            <div class="card1_informacion3_datos2" >
                                <img class="plataforma2" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
              <div class="card2">
                <div class="card2_portada">
                <img src="https://i.blogs.es/6a071d/gtav/1366_2000.jpg" class="portada"/>
            </div>
              <div class="contenedor_informacion">
                 <h1 class="card2_nombre_juego">Nombre del juego</h1>
                <div class="card2_informacion">
                    <div class="card2_informacion1" >
                        <p>Categoría 1</p>
                        <p>Categoría 2</p>
                        <p>Categoría 3</p>
                    </div>
                    <div class="card1_informacion2">
                        <img class="plataforma" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                        <img class="plataforma" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                        <img class="plataforma" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                    </div>
                    <div class="card1_informacion3">
                        <div class="card1_informacion3_datos1" >
                            <h3>4.5<img src="https://www.flaticon.es/svg/static/icons/svg/3237/3237420.svg" class="estrella2"/> </h3>
                        </div>
                        <div class="card1_informacion3_datos2" >
                            <img class="plataforma2" src='https://www.flaticon.es/premium-icon/icons/svg/2175/2175368.svg'/>
                        </div>
                    </div>
                </div>
              </div>
          </div>
          </div>
           </div>
      </article>
</body>
</html>