<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="degradado">
        <div class="login"><br>
            <img class="logo" src="https://media.discordapp.net/attachments/720651142136070154/792947068909256724/Sin_titulo-1.png">
            <h1>Login</h1>

            <form action="" method="post">

                <input type="hidden" name="login" value="true">

                    <div class="errorMessage"></div>

                <input type="text" placeholder="Usser" id="username" class="usser" name="username" size="15"><br><br><br>
                <input type="password" placeholder="Pass" id="password" class="usser" name="password" size="15"><br><br><br>
                <input type="submit" name="login" value="Login" id="ingresar" class="button">
            </form>
        </div>
   </div>
</body>
</html>