<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class='header'>
        <nav>
            <a href='#'><img src="https://cdn.icon-icons.com/icons2/412/PNG/128/Magnifier_41051.png" class="lupa"/></a>
            <ul class='nav_links'>
                <li><a href='#'>Categoría<img src="https://media.discordapp.net/attachments/705876284315533327/793148611310387261/unknown.png" class="triangulo"/></a></li>
                <li><a href='#'>Dearrolladora<img src="https://media.discordapp.net/attachments/705876284315533327/793148611310387261/unknown.png" class="triangulo"/></a></li>
                <li><a href='#'>Cracker<img src="https://media.discordapp.net/attachments/705876284315533327/793148611310387261/unknown.png" class="triangulo"/></a></li>
                </ul>
                <a href='#'><img class="logo" src='https://cdn.discordapp.com/attachments/720651142136070154/792947068909256724/Sin_titulo-1.png'/></a>
                <ul>
                <li><a href='#'>Lanzamiento<img src="https://media.discordapp.net/attachments/705876284315533327/793148611310387261/unknown.png" class="triangulo"/></a></li>
                <li><a href='#'>About Us</a></li>
                <li><a href='#'>Help<img src="https://media.discordapp.net/attachments/705876284315533327/793152241606721546/unknown.png" class="help"/></a></li>
            </ul>
            <ul>
            <li><a href='#'><img src="https://cdn.discordapp.com/attachments/705876284315533327/793155157629337610/unknown.png" class="iniciar_sesion"/></a></li>
            </ul>
        </nav>
     </div>
     <div class="contenedor_usuario">
        <div class="usuario">
            <div class="foto_usuario">
                <img class="foto_perfil" src="https://i.pinimg.com/originals/03/c1/03/03c103dc98227ba029ea70b2b7f0b753.jpg" >
            </div>
            <div class="informacion_usuario">
                <h1><u>Nombre de usuario</u></h1>
                <h2>Nombre</h2>
                <h2>Apellidos</h2>
                <h2>Correo electrónico</h2>
                <h2>Teléfono</h2>

            </div>
            <div class="editar_usuario">
                <input class="boton" type="submit" size="" value="MODIFICAR PERFIL" >
            </div>
        </div>
    </div>
    <div class="informacion_extra">
        <div class="informacion_extra1">

        </div>

    </div>
</body>
</html>